@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-neutral-200;
  }

  body {
    @apply bg-neutral-50 text-neutral-900 antialiased;
  }

  html {
    @apply scroll-smooth;
  }
  /* Make boxes square instead of rounded */
  .rounded-lg {
    border-radius: 0 !important;
  }

  .rounded {
    border-radius: 0 !important;
  }

  /* Or make them less rounded */
  .rounded-lg {
    border-radius: 0px !important;
}
}